<div class="div_create_command">
    <app-category-slider [categories]="categories" (categoryEmitter)="categoryChange($event)"></app-category-slider>
    <app-product-grid [products]="products" (productEmitter)="addProduct($event)"></app-product-grid>
    <app-product-list [selectedProducts]="selectedProducts" [totalTTC]="totalTTC" [discount]="discount" (productEmitter)="updateQuantityProduct($event)"></app-product-list>
    <app-client-form [mode]='mode' (clientEmitter)="setOrderInformation($event)" (sendDiscount)="setDiscount($event)"></app-client-form>
    <app-order-list [mode]="mode" [orders]="orders" (deleteEmitter)="deleteOrder($event)" (printTicketEmitter)="printTicket($event)"></app-order-list>
</div>
